<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../components/head", { titulo: "Cadastrar ONG" }) %>
  <body>
    <%- include("../components/topbar") %>
    <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100 h-screen">
      <% if (locals.erro) { %>
        <div class="alert alert-danger" role="alert"><%= erro %></div>
      <% } %>
      <form class="card p-4 form-container my-5" action="/cadastro_ong" method="post">
        <div class="card-body">
          <h1 class="card-title fs-3 mb-4">Cadastrar ONG</h1>
          <div class="mb-3">
            <label for="cnpj" class="form-label">Nome</label>
            <input id="cnpj" type="text" name="cnpj" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input id="email" type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="nome" class="form-label">CNPJ</label>
            <input id="nome" type="text" name="nome" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Telefone</label>
            <input type="tel" id="telefone" name="telefone" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="social" class="form-label">Instagram</label>
            <input type="text" id="instagram" name="instagram" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input id="cep" type="text" name="cep" class="form-control" required>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="atuaEmGrandeNatal" name="atuaEmGrandeNatal">
            <label class="form-check-label" for="atuaEmGrandeNatal">Atua na Grande Natal</label>
          </div>
          <label>Trabalha com</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trabalhaComCaes" name="trabalhaComCaes">
            <label class="form-check-label" for="trabalhaComCaes">Cães</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trabalhaComGatos" name="trabalhaComGatos">
            <label class="form-check-label" for="trabalhaComGatos">Gatos</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="trabalhaComOutros" name="trabalhaComOutros">
            <label class="form-check-label" for="trabalhaComOutros">Outros</label>
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
          </div>
          <div class="mb-4">
            <label for="confirmarSenha" class="form-label">Confirme a senha</label>
            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha"  equired>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3">Cadastrar</button>
          <p class="text-center mb-3">Já tem uma conta? <a href="/login">Entrar</a></p>
          <p class="text-center">Que adotar? <a href="/cadastro">Cadastre-se</a></p>
        </div>
      </form>
    </div>
    <% if (locals.erros) { %>
      <script>
        const erros = <%- JSON.stringify(erros) %>

        erros.forEach(erro => {
          const input = document.getElementById(erro.param)
          if (!input.className.includes("is-invalid")) {
            input.classList.add("is-invalid")
            const mensagem = document.createElement("div")
            mensagem.className = "invalid-feedback"
            mensagem.innerText = erro.msg
            input.parentNode.appendChild(mensagem)
          }
        })
      </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
