<!DOCTYPE html>
<html lang="pt-br">
<%- include("../components/head", { titulo: "Adopet" }) %>
  <body>
    <%- include("../components/topbar") %>
    <div class="conteudo">
      <h3 id="titulo">Animais disponíveis para adoção</h3>
      <a href="/pets">Ver todos</a>
      <% if (pets.length > 0) { %>
        <div class="carousel slide" data-bs-ride="carousel">
          <% pets.forEach(lista => { %>
            <div class="carousel-inner">
              <% lista.forEach(pet => { %>
                <%- include("../components/pet", { pet }) %>
              <% }) %>
            </div>
          <% }) %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% } %>
      <div>
        <p>Antes de adotar faça seu cadastro/login na plataforma</p>
      </div>
      <div class="produtos">
        <h3>Já adotou?</h3>
        <p>Então confira algumas dicas e produtos que vão te ajudar no cuidado com o seu animal!.</p>
      </div>
      <div class="dicas">
        <h3>Dicas</h3>
        <p>Dê a alimentação adequada.</p>
        <p>Estimule a prática de atividades físicas.</p>
        <p>Mantenha a higiene dos animais.</p>
        <p>Fique atento à vacinação e à vermifugação.</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
