.h-screen {
  min-height: 90vh;
}

.form-container {
  margin: 1rem;
}

@media (min-width: 768px) { /* md */
  .form-container {
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 992px) { /* lg */
  .form-container {
    width: 30%;
  }
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
