<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= titulo %></title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <link href="/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/5eff07d242.js" crossorigin="anonymous"></script>
</head>
